.article {
	margin-bottom: 5em;
	counter-reset: articleFigureCounter;

	> h1 > a {
		display: block;
		width: 100%;
		border-bottom: 1px solid rgba(0,0,0,0.075);
		font-family: $sans-font;

		&:hover {
			color: $link-color;
		}
	}
}

.article-body {
	a {
		color: $link-color;
	}
	a:hover {
		text-decoration: underline;
		color: lighten($link-color, 15%);
	}
	a:visited {
		color: lighten($link-color, 15%);
	}

	h1, h2 {
		font-size: 1.2em;
	}

	a[rel="footnote"] {
		font-size: .7em;
	}

	a[rel="footnote"]:hover {
		text-decoration: none;
	}

	del {
	  position: relative;
	  text-decoration: none;
	  color: lighten($base-text-color, 20%);
	}

	mark {
		background: #FFFBCC;
	}

	del:after {
	    border-bottom: 1px solid lighten($base-text-color, 20%);
	    content: "";
	    left: 0;
	    position: absolute;
	    right: 0;
	    top: 60%;
	}

	blockquote {
		border-left: 4px solid rgba(0,0,0,0.2);
		font-style: italic;
		margin: 2em 0;
		padding: 0 0 0 2em;

		footer {
			font-size: .8em;
			text-align: right;
		}

		footer:before {
			content: "– ";
		}
	}

	> img {
		display: block;
		margin: 0 auto;
	}
}

.footnotes {
	font-size: .7em;

	hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
	a:hover {
		text-decoration: none;
	}
}