// General Styles
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  transition: all .2s;
  -webkit-transition: all .2s;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
	background: $white;
	color: $black;

  font-family: $sans-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: 500px) {
    font-size: 20px;
    line-height: 1.55;
  }

  @media screen and (min-width: 1000px) {
    font-size: 22px;
  }
}

body.dark-body {
  background: $dark-purple;
  color: $white;
}


// Links
a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: $navy;
  background-image: linear-gradient(to bottom, $white 75%, #333332 75%);
  background-size: 2px 2px;
  background-position: 0px 24px;
  background-repeat: repeat-x;

  text-shadow: 2px 0 $white,
              -2px 0 $white,
              -3px 0 $white,
               0 2px $white,
              -1px 1px $white,
               1px 1px $white;
}

h1 {
  a,
  a:hover,
  a:visited,
  a:active {
    background: none;
    text-shadow: none;
  }
}

a:hover {
  color: $red;
}


// Headings
h1, h2, h3, h4 {
  font-family: $sans-font;
  font-weight: 600;
}

h1 {
  font-size: 1.2em;
  @media screen and (min-width: 31em) {font-size: 1.5em}
  @media screen and (min-width: 62em) {font-size: 1.8em}
  @media screen and (min-width: 70em) {font-size: 2em}
}


// Lists
ul, ol {
  color: $red;

  li > span {
    color: $black;
  }

  blockquote & {
    color: inherit;
    span {color: inherit;}
  }
}




