.notice {
	display: none;
	margin: 5px;
	padding: 1em;
	font-size: .7em;
	font-weight: 300;
	line-height: 1.7;
	background: $base-text-color;
  color: white;
  font-family: $sans-font;
  margin: 0 auto;

  a, a:hover {
  	color: lighten($highlight-color, 40%);
 		transition: none;
  }
  a:hover {
  	border: none;
  	border-bottom: 1px solid rgba(255,255,255,0.3);
	}
	h3 {
		display: block;
	  max-width: $max-width;
		margin: 0 auto .3em auto;
	}

	p {
		display: block;
	  max-width: $max-width;
		margin: 0 auto;
	}
}