// Variables
$sans-font: "myriad-pro", "ff-tisa-web-pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$serif-font: "jubilat", "jaf-facitweb",  Georgia, Cambria, "Times New Roman", Times, serif;

// Colours
$light-purple: #BCAFB8;
$dark-purple: #3D223B;
$red: #8F3643;
$navy: #4C5A78;
$blue: #A3C2ED;
$cream: #F5D1BA;
$brown: #B19B8C;
$mint: #B1D9D1;
$green: #889093;
$black: #070707;
$white: #ffffff;
$grey: #BDBDBD;


$header-bar-height: .5em;
