$max-width: 745px;
$serif-font: "ff-tisa-web-pro", Georgia, Cambria, "Times New Roman", Times, serif;
$sans-font: "jaf-facitweb", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

$highlight-color: #951E0A;
$base-text-color: #333332;
$link-color: $highlight-color;