$max-width: 745px;
$sans-font: "myriad-pro", "ff-tisa-web-pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$serif-font: "jubilat", "jaf-facitweb",  Georgia, Cambria, "Times New Roman", Times, serif;

$highlight-color: #628694;
$secondary-color: #C7A948;
$base-text-color: #333332;
$link-color: $highlight-color;
