.widget {

  /* Style the widget */
  display: block;
  background: #ccc;

  /* Style the H1 in the widget */
  > h1 {
    border-bottom: 1px solid #aaa;
    font-size: 2rem;

    @media screen and (min-width: 30em) {
      font-size: 4rem;
      font-weight: 100;
    }
  }

  /* Style any links in the widget */
  a {
    text-decoration: none;
    color: red;
    &:hover {text-decoration: underline}
  }
}
