h1,h2,h3,h4 {
  text-rendering: optimizeLegibility;
}

h1 {
  font-weight: 600;
  font-size: $type--largest;
  font-family: "ff-tisa-web-pro";
  margin-top: $type--base * 3;
  margin-bottom: $type--base;
}

h2 {
  font-size: $type--larger;
  margin-top: $type--base * 2;
  margin-bottom: $type--base;
}

h3 {
  font-size: $type--large;
  margin-top: $type--base * 2;
  margin-bottom: 0;
}

h4, h5 {
  font-size: $type--large;
  margin-top: $type--base;
  margin-bottom: 0;
}

h5 {
  font-weight: normal;
}
