table {
  border-collapse: collapse;
  border: 1px solid $color--tableBorder;
  width: 100%;

  th {
    border-bottom: 2px solid $color--tableHeaderUnderline;
  }

  td, th {
    padding: 5px;
    border-right: 1px solid rgba(0,0,0,0.1);
  }

  tr:nth-child(even) td {
    background-color: $color--tableAlternateRow;
  }
}
