<footer class="page-footer">

  <% unless @more_articles.nil? %>
    <div class="article-list">
      <h2>Read More</h2>
      <ul>
      <% @more_articles.each do |article| %>
        <li><a href="/writing/<%= article.slug %>"><%= article.title %></a></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="metalinks">
    <li><a href="/writing/articles">Articles</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="http://<%= ENV['BASE_DOMAIN'] %>/feed">RSS</a></li>
    <li><a href="/reading">Reading List</a></li>
    <li><a href="https://github.com/dannysmith" class="icon-github-alt"> Github</a></li>
    <li><a href="https://twitter.com/dannysmith" class="icon-twitter"> Twitter</a></li>
    <li><a href="http://www.linkedin.com/in/dannyasmith" class="icon-linkedin"> LinkedIn</a></li>
    <li class="source-org vcard copyright">Copyright &copy; Danny Smith <%= Date.today.year %>, except where otherwise noted.</li>
  </ul>
</footer>
