<footer class="page-footer">
  <div class="container">
    <p>
      <a href="/writing/articles">Articles</a> |
      <a href="/about">About</a> |
      <a href="https://github.com/dannysmith" class="icon-github-alt"></a>
      <a href="https://twitter.com/dannysmith" class="icon-twitter"></a>
      <a href="http://www.linkedin.com/in/dannyasmith" class="icon-linkedin"></a> |
      <a href="http://<%= ENV['BASE_DOMAIN'] %>/feed">RSS</a> |
      <a href="/reading">Reading List</a></li> |
      <span class="source-org vcard copyright">Copyright &copy; Danny Smith <%= Date.today.year %>, except where otherwise noted.</span>
    </p>
  </div>
</footer>
