<!-- Pushy Site Overlay -->
<div class="site-overlay"></div>

<nav class="pushy pushy-left c-main-navigation" role="navigation">
  <ul class="o-blocky-link-list">
    <li><a href="/"><i class="u-icon u-icon-home u-icon-fw"></i> Home</a></li>
    <li><a href="/writing/articles"><i class="u-icon u-icon-graduation-cap u-icon-fw"></i> Articles</a></li>
    <li><a href="/noting"><i class="u-icon u-icon-pencil u-icon-fw"></i> Notes</a></li>
    <li><a href="/reading"><i class="u-icon u-icon-book u-icon-fw"></i> Reading List</a></li>
    <li><a href="/about"><i class="u-icon u-icon-user u-icon-fw"></i> About</a></li>
    <li><a href="https://github.com/dannysmith"><i class="u-icon u-icon-github u-icon-fw"></i> Github</a></li>
    <li><a href="https://twitter.com/dannysmith"><i class="u-icon u-icon-twitter u-icon-fw"></i> Twitter</a></li>
    <li><a href="http://www.linkedin.com/in/dannyasmith"><i class="u-icon u-icon-linkedin u-icon-fw"></i> LinkedIn</a></li>
    <li><a href="https://medium.com/@dannysmith"><i class="u-icon u-icon-medium u-icon-fw"></i> Medium</a></li>
    <li><a href="<%= ENV['BASE_DOMAIN'] %>/feed"><i class="u-icon u-icon-rss u-icon-fw"></i> RSS</a></li>
  </ul>
</nav>
