<header class="page-header">
  <a href="/">
    <div class="logo"></div>
    <h1>danny.is/writing</h1>
  </a>
  <nav class="nav-main" role="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/writing/articles">Articles</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/reading">Reading</a></li>
    </ul>
  </nav>
</header>
