<header class="page-header">
  <a href="/">
    <div class="logo" style="background-image: url('<%= @logo_path %>')"></div>
    <h1>danny.is/<%= defined?(section_title) ? section_title : "writing" %></h1>
  </a>
  <%= erb :'partials/_navigation'%>
</header>
