<header class="c-page-header">
  <a href="/" class="c-page-header__logo-link">
    <div class="c-page-header__logo o-avatar" style="background-image: url('<%= @logo_path %>')"></div>
  </a>
  <h1 class="c-page-header__heading c-site-heading"><a href="/">danny<span class="c-page-header__heading__dot">.</span>is</a></h1>
  <h2 class="c-page-header__subheading c-site-subheading"><%= defined?(section_title) ? section_title : "writing" %></h2>
</header>
