//  Sizes for various components
// =============================

// Size Applications
// -----------------
$size--heightHeaderBar:               .5rem;
$size--heightProgressBar:             .25rem;
$size--logoSize:                      8rem;
$size--horizontalRuleWidth:           30%;

$size--readingProgressBarHeight:      .25rem;
$size--sidebarMenuWidth:              200px;

$size--defaultArticleElementMargin:   1rem; // Used for margin on mobil-sized article elements.


$size-contentWidthBreakpoint1:        31em;
$size-contentWidthMargin1:            5%;

$size-contentWidthBreakpoint2:        62em;
$size-contentWidthMargin2:            15%;

$size-contentWidthBreakpoint3:        80em;
$size-contentWidthMargin3:            25%;

$size-paginationButton:               3rem;
