<% content_for :title do %>About Danny Smith<% end %>

<header class="page-header">
	<h1><a href="/">Who am I?</a></h1>
		<nav class="nav-main container" role="navigation">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/writing/articles">Articles</a></li>
		</ul>
	</nav>
</header>
<div class="container container-about-me article-body">
	<img src="/images/danny.jpeg" alt="A ridiculous picture of Danny Smith">
	<p>I'm a chap with a moustache who does a great many things – some of them well; some of them poorly. Chief among them:</p>
	<ul>
		<li><span>I design user interfaces</span></li>
		<li><span>I <a href="https://github.com/dannysmith">build websites</a> with <a href="http://https://www.ruby-lang.org">ruby</a> and <a href="http://sass-lang.com">Sass</a>.</span></li>
		<li><span>I <a href="https://www.facebook.com/dannysmithmusic">play slide guitar, harmonica and sing blues music</a>.</span></li>
		<li><span>I write testing software for a <a href="http://www.thecollinsongroup.com">firm</a> in the City</span></li>
		<li><span>I teach people how to be <a href="https://www.facebook.com/acoctt">military skill-at-arms instructors</a>.</span></li>
		<li><span>I manage the quality of weapons training plans and documentation for the <a href="http://www.raf.mod.uk/aircadets/">air cadet organisation</a> (So that one's a bit boring).</span></li>
		<li><span>I twiddle my moustache.</span></li>
		<li><span>I <a href="http://danny.is/writing/articles">write</a> about any, and all, of the above.</span></li>
	</ul>

	<p>You can find me on <a href="https://twitter.com/dannysmith">twitter</a>, <a href="http://www.linkedin.com/in/dannyasmith">LinkedIn</a>, <a href="https://github.com/dannysmith">GitHub</a>, <a href="https://speakerdeck.com/dannysmith"></a>Speakerdeck</a> and <a href="http://www.slideshare.net/dannysmith">Slideshare</a>.</p>
	<p>Drop me a line.</p>
</div>
