<header class="page-header">
	<h1><a href="/">Who am I?</a></h1>
		<nav class="nav-main container" role="navigation">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/writing/articles">Articles</a></li>
		</ul>
	</nav>
</header>
<div class="container container-about-me article-body">
	<img src="/images/danny.jpeg" alt="A ridiculous picture of Danny Smith">
	<p>That's a question I ask myself fairly regularly. If you work it out, let me know.</p>
	<p>Here's what my Meetup profile says</p>
	<blockquote>
		I write ruby code, sing blues, play guitar, wear an RAF uniform on weekends and have a foolish moustache. Used to live in Brighton and make websites with SASS &amp; CSS3 but now I'm trying to improve the quality of software (and people) at a firm in London. Moved here August 2013.
	</blockquote>
	</p>I also <a href="https://www.facebook.com/dannysmithmusic">make music</a>. You can find me on <a href="https://twitter.com/dannysmith">twitter</a>, <a href="http://www.linkedin.com/in/dannyasmith">linkedin</a> and <a href="https://github.com/dannysmith">github</a>.</p>
</div>