<% content_for :title do %>Articles by Danny Smith<% end %>

<%= erb :'partials/_page_header' %>

<ul class="articles-list articles-list-page">
<% @articles.each do |article| %>
	<li><a href="/writing/<%= article.slug %>"><%= article.title %></a></li>
<% end %>
</ul>
