<% content_for :title do %>Articles by Danny Smith<% end %>
<%= erb :'partials/_page_header' %>

<div class="c-article-list">
  <ul class="o-blocky-link-list o-blocky-link-list--colored">
  <% @articles.each do |article| %>
    <li class="animated fadeInUp"><a href="<%= article.url %>"><%= article.title %></a></li>
  <% end %>
  </ul>
</div>
