<header class="page-header">
	<h1><a href="/">It's a 404!</a></h1>
	<nav class="nav-main container" role="navigation">
		<ul>
			<li><a href="/writing/articles">Articles</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>
<div class="container article-body">
	<blockquote>
		<p>Of all the unhappy people in the world, the unhappiest are those who have not found something they want to do.</p>
		<footer>
			<a href="http://en.wikipedia.org/wiki/Lin_Yutang">Lin Yutang</a>
		</footer>
	</blockquote>
	<p>I'm afraid whatever you're looking for, isn't here.</p>
</div>
