<% content_for :title do %>Nothing to see here<% end %>

<%= erb :'partials/_page_header', locals: {section_title: '404'}%>

<div class="u-center">
  <img src="/images/404bg.jpg">
  <h3 class="u-jumbo-notice">Whatever you're looking for, it isn't here.</h3>
</div>
