.widget {
  /* Style the widget */
  display: block;
  background: #ccc;
  /* Style the H1 in the widget */
  /* Style any links in the widget */ }
.widget > h1 {
  border-bottom: 1px solid #aaa;
  font-size: 2rem; }
@media screen and (min-width: 30em) {
  .widget > h1 {
    font-size: 4rem;
    font-weight: 100; } }
.widget a {
  text-decoration: none;
  color: red; }
.widget a:hover {
  text-decoration: underline; }
