.c-article {
  counter-reset: articleFigureCounter;

  &__title,
  &__body > * {
    // Center everything using percentage margins at different breakpoints.
    // You can change the values in sizes.scss
    @include center-with-margin($size-contentWidthBreakpoint1, $size-contentWidthMargin1);
    @include center-with-margin($size-contentWidthBreakpoint2, $size-contentWidthMargin2);
    @include center-with-margin($size-contentWidthBreakpoint3, $size-contentWidthMargin3);
  }

  &__title {
    font-size: $type--larger;
    @media screen and (min-width: 600px) {
      font-size: $type--largest;
      text-align: center;
    }
    @media screen and (min-width: 1000px) {
      font-size: $type--jumbo;
    }
    border-bottom: 1px solid rgba(0,0,0,0.075);
    padding-bottom: $type--base * 2;
    margin-bottom: $type--base * 2;
  }

  &__body {
    // Set the first paragraph in a different typeface
    > p:nth-child(1) {
      font-weight: 300;
      font-family: $type--highlightParaFace;
      font-size: $type--large;
      margin-bottom: $type--base * 2;
      text-rendering: optimizeLegibility;
      letter-spacing: $type--firstParaLetterSpacing;
    }

    // Type treatment for all paragraphs
    > p {
      letter-spacing: $type--defaultLetterSpacing;
      text-align: justify;

      -webkit-hyphenate-limit-after: 4;
         -moz-hyphenate-limit-after: 4;
          -ms-hyphenate-limit-after: 4;
              hyphenate-limit-after: 4;

      -webkit-hyphenate-limit-before: 3;
         -moz-hyphenate-limit-before: 3;
          -ms-hyphenate-limit-before: 3;
              hyphenate-limit-before: 3;

      -webkit-hyphenate-limit-lines: 1;
         -moz-hyphenate-limit-lines: 1;
          -ms-hyphenate-limit-lines: 1;
              hyphenate-limit-lines: 1;

      -webkit-hyphens: auto;
         -moz-hyphens: auto;
          -ms-hyphens: auto;
              hyphens: auto;

      word-break: break-word; //Non-standard for webkit
      word-wrap: break-word;
    }

    // Raw Images
    > img {
      display: block;
      margin: 0 auto; // Center small images
      max-width: 100%; // Constrain raw images to be only 100% wide;
    }
  }
}
