.agile-toolkit-list {
  list-style-type: none;
  font-size: 0.8em;
  margin: 0;
  padding: 0;

  li {
    display: block;
    padding: 0;
    color: $black;
    width: 80%;
    border: 1px solid $red;
    margin: 1em auto 2em;

    @media screen and (min-width: 40em) {
      width: 45%;
      float: left;
      margin: 1em 2.5% 3em;
    }
  }

  h3 {
    text-align: center;
    background: $red;
    margin: 0;
    color: $white;
    font-weight: 100;
    padding: .25em;
  }
}

.atkl-content {
  padding: 1em;
}

.agile-intro {
  text-align: center;
}
