.agile-toolkit-list {
  list-style-type: none;
  font-size: 0.8em;
  margin: 0;
  padding: 0;

  li {
    display: block;
    padding: 0;
    color: $black;
    width: 80%;
    border: 1px solid $grey;
    margin: 1em auto 2em;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #f7f7f7;
    border-radius: 3px;
    border: 1px solid #DDD;
    box-shadow: 0 2px 4px #e6e6e6;

    @media screen and (min-width: 40em) {
      width: 45%;
      float: left;
      margin: 1em 2.5% 3em;
    }

    &:hover .atkl-content {background-color: $white;}
  }

  h3 {
    text-align: left;
    border-bottom: 1px solid #DDD;
    margin: 0;
    color: $navy;
    padding: 1em;
  }
}

.atkl-content {
  padding: 1em;
}

.page-intro {
  text-align: center;
}
