.article-list ul {
	list-style: none;
  font-size: 1em;
  margin: 0 auto 2em;
  padding: 0;
  max-width: 40em;
  @media screen and (max-width: 51em) {
    padding: 1em;
  }

  li {
    padding: 1em 0;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }

  li:last-child {border-bottom: none;}

  a {
    text-shadow: none;
    background: none;
  }
}

.article-list h2 {
  max-width: 40em;
  margin: 0 auto;
  padding: 2em 0 0 0;
  @media screen and (max-width: 51em) {
    padding: 1em;
  }
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1em;
  color: rgba(0,0,0,0.3);
}
