.article {
	margin-bottom: 5em;
	counter-reset: articleFigureCounter;

	> h1 > a {
		display: block;
		width: 100%;
		text-align: center;
		padding-bottom: 1em;
		border-bottom: 1px solid rgba(0,0,0,0.075);
		margin-bottom: 2em;
		font-family: $sans-font;
		color: $black;
	}
}

.article-body {
	// Headings
	h1, h2 {
		font-size: 1.2em;
		margin-top: 2em;
	}

	// Paragraphs
	p {
		-webkit-hyphens: auto;
		   -moz-hyphens: auto;
		    -ms-hyphens: auto;
		     -o-hyphens: auto;
		        hyphens: auto;

		-webkit-hyphenate-limit-lines: 2;
		-moz-hyphenate-limit-lines: 2;
		-ms-hyphenate-limit-lines: 2;
		-o-hyphenate-limit-lines: 2;
		hyphenate-limit-lines: 2;

		-webkit-hyphenate-limit-chars: 6 3 3;
		-moz-hyphenate-limit-chars: 6 3 3;
		-ms-hyphenate-limit-chars: 6 3 3;
		-o-hyphenate-limit-chars: 6 3 3;
		hyphenate-limit-chars: 6 3 3;
	}

	// Video Embeds
	p.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		// padding-top: 25px;
		height: 0;

		> iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}


	//Footnotes
	a[rel="footnote"] {
		font-size: .7em;
	}

	a[rel="footnote"]:hover {
		text-decoration: none;
	}

	> img {
		max-width: 100%;
	}

	// Deleted Text
	del {
	  position: relative;
	  text-decoration: none;
	  color: lighten($black, 20%);
	}

	del:after {
	    border-bottom: 1px solid lighten($black, 20%);
	    content: "";
	    left: 0;
	    position: absolute;
	    right: 0;
	    top: 60%;
	}

	// Marked Text
	mark {
		background: $cream;
	}

	> img {
		display: block;
		margin: 0 auto;
	}
}

