  .article-body > aside {
    position: relative;
    font-size: .8em;
    color: $dark-purple;
    border: 1px solid $red;
    border-left-width: 5px;
    border-radius: 3px;
    padding: 0.5em 1em;
    overflow: hidden;

    &:before {
      content: "NOTE";
      font-family: $sans-font;
      position: absolute;
      top: 15px; left: -15px;
      font-size: 5em;
      color: $red;
      opacity: .15;
      line-height: 1;

          -ms-transform: rotate(-40deg);
      -webkit-transform: rotate(-40deg);
              transform: rotate(-40deg);
    }
  }
