
// All Code, everywhere - is not applied to plain <pre> elements.
// .gist,
// code,
// .highlight pre {
// 	font-family: "inconsolata", Courier, monospace;
// }

// // Inline Code Tags
// code.prettyprint {
//   display: inline-block;
//   padding: 0 8px;
//   color: $red;
//   border: 1px solid rgba(225, 225, 232, .8);
//   border-radius: 2px;
//   font-size: .8em;
// }

// Fenced Blocks of Code
.highlight pre {
  position: relative;
  counter-reset: preLineNumbers;
  white-space: pre;
  overflow-x: scroll;
  word-break: inherit;
  word-wrap: inherit;
  font-size: 0.9em;
  padding: 1em 0;

     border-top: 1px solid rgba(0,0,0,0.075);
  border-bottom: 1px solid rgba(0,0,0,0.075);
}

// Line numbers
.highlight pre > span:before {
  content: counter(preLineNumbers);
  counter-increment: preLineNumbers;
  width: 1em;

  padding-right: 1em; /* space after numbers */
  text-align: right;
  display: inline-block;
  color: $grey;
  margin-right: 0.5em;
  padding: 2px 8px 2px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  opacity: 0.6;
}

// Make line numbers appear on hover at wider viewports
@media screen and (min-width: 400px) {
  .highlight pre > span:before {visibility: hidden;}
  .highlight pre:hover > span:before {visibility: visible;}
}


// Keyboard Tags
kbd {
  font-size: 1rem;
  padding: 0.2em 0.5em;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}



// Code that's just big blocks of HEX or RegExp or similar. It should wrap in a block.
i {
  font-family: "inconsolata", Courier, monospace;
  word-wrap: break-word;
}


//Gist Code Overrides

.gist .gist-file {
	border-radius: 0 !important;
	border: none !important;
}

.gist .gist-file .gist-data {
	border: none !important;
}
.gist .gist-file,
.gist .gist-file .gist-data .line-pre {
	font-family: "inconsolata" !important;
}

.gist .gist-file .gist-meta {
	background-image: none !important;
	background-color: transparent !important;
	text-shadow: none !important;
	padding: 10px 0 !important;
}
