figure {
	position: relative;
	text-align: center;
	counter-increment: articleFigureCounter;
	background: $light-purple;
	margin: 0;
	padding: 1em 1em 1em 0;

	img {
		width: 100%;
	}

	img:hover {
		cursor: -webkit-zoom-in;
		cursor: -moz-zoom-in;
	}

	a, a:hover, a:active {
    text-shadow: none;
    background: none;
	}

	> figcaption {
		display: inline-block;
		font-size: .75em;
		background: $dark-purple;
		color: $white;
		text-align: center;
		padding: .2em 1em;

		@media screen and (min-width: 80em) {
			display: block;
			position: absolute;
			top: 1.25em;
			left: 0;
			width: 10em;
			text-align: left;
			font-size: .75em;
			padding: .5em;
		}
	}

	> figcaption:before {
		content: "Figure " counter(articleFigureCounter) ": "
	}
}
