.page-footer {
  background: $navy;
  color: $white;

  a {color: $white;}

  .article-list a:hover,
  .article-list a:hover,
  .article-list a:active {
    padding-left: .25em;
  }
}

.metalinks {
  list-style: none;
  margin: 0;
  text-align: center;
  font-size: .7em;

  li {
    display: inline;
    line-height: 3;
    padding: 0 .5em;
    color: $white;
  }

  a {
    text-shadow: none;
    background: none;
    color: $white;
  }
}
