.page-header {
	text-align: center;
	font-family: $sans-font;
	margin-bottom: 3em;
	padding: 0;

	h1 {
		margin-bottom: 0;
		margin-top: 1rem;
	  font-weight: 600;
	  font-size: 1.5em;

	  @media screen and (min-width: 600px) {
			margin-top: 2rem;
			font-size: 2em;
	  }
	}

	h1:after {
		display: block;
		content: " ";
		margin: 0 auto;
		height: 2em; // Height of tache image.
		max-width: $max-width; // Width of tache image.
		background: url('/images/tache-2.png') no-repeat 50% 50%;
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}

	.h1-home {
		font-family: "jaf-facitweb";
		font-size: 2em;
		font-weight: 200;

		span.danny 		{color: rgba(0,0,0,0.8);}
		span.dot 			{color: rgba(0,0,0,0.1);}
		span.is 			{color: $highlight-color}
		span.slash 		{color: rgba(0,0,0,0.1);}
		span.writing 	{color: rgba(0,0,0,0.8);}

		@media screen and (min-width: 600px) {
			font-size: 4em;
	  }
	}

	> p {
		font-size: .8em;
		color: rgba(0,0,0,0.5);
		font-style: italic;
	}
}
