table {
  border-collapse: collapse;
  border: 1px solid rgba(0,0,0,0.1);
  width: 100%;

  th {
    font-family: $sans-font;
    border-bottom: 2px solid $navy;
  }

  td, th {
    padding: 5px;
    border-right: 1px solid rgba(0,0,0,0.1);
  }

  tr:nth-child(even) td {
    background: rgba(200,200,200,0.1);
  }
}
